body {
  font-family: monospace;
  background-color: #36393e;
  color: #789496;
  font-size: 18px;
}
b {
  color: #ee9800;
}
a {
  color: #ee9800;
  padding: 5px;
}
a:hover {
  color: #98ee00;
  background-color: #36393e;
  padding-left: 10px;
  border-left: 5px solid #98ee00;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.box {
  width: auto;
  background-color: #2f3136;
}
blockquote {
  width: auto;
  padding-left: 5px;
  border-left: 3px solid #ee9800;
  background-color: #2f3136;
}
